ErrorDocument 400 /400.shtml
ErrorDocument 401 /401.shtml
ErrorDocument 403 /403.shtml
ErrorDocument 404 /404.shtml
ErrorDocument 500 /500.shtml

RewriteEngine On

# home.php
RewriteRule ^home/?$ /pages/home.php

# mysql.php
RewriteRule ^mysql/?$ /pages/project-pages/mysql.php

# vwo4.php
RewriteRule ^vwo-4/?$ /pages/project-pages/vwo-4.php

# vwo6.php
RewriteRule ^vwo-6/?$ /pages/project-pages/vwo-6.php

# it.php
RewriteRule ^it/?$ /pages/project-pages/it.php

# about.php
RewriteRule ^about/?$ /pages/about.php

# contact.php
RewriteRule ^contact/?$ /pages/contact.php

# account.php
RewriteRule ^account/?$ /pages/login/account.php

# logout.php
RewriteRule ^logout/?$ /pages/login/logout.php

# admin.php
RewriteRule ^admin/?$ /pages/login/admin.php

# secure.php
RewriteRule ^secure/?$ /pages/login/secure.php

# verify.php
RewriteRule ^verify/?$ /pages/login/verify.php

# cookie.php
RewriteRule ^cookie-policy/?$ /pages/policies/cookie.php

# privacy.php
RewriteRule ^privacy-policy/?$ /pages/policies/privacy.php

# terms.php
RewriteRule ^terms/?$ /pages/policies/terms.php

# test-mysql.php
RewriteRule ^testmysql/?$ /pages/test-pages/test-mysql.php

# test.php
RewriteRule ^testphp/?$ /pages/test-pages/test.php

# test.html
RewriteRule ^testhtml/?$ /pages/test-pages/test.html

# games.php
RewriteRule ^games/?$ /pages/games.php

# bakery.html
RewriteRule ^vwo-4/bakery/home/?$ /pages/vwo4-projects/bakery/bakery.html

# products.html
RewriteRule ^vwo-4/bakery/products/?$ /pages/vwo4-projects/bakery/products.html

# bmi.php
RewriteRule ^vwo-4/bmi/?$ /pages/vwo4-projects/bmi.php

# bmw.php
RewriteRule ^vwo-4/bmw/results/?$ /pages/vwo4-projects/bmw/bmw.php

# bmw.html
RewriteRule ^vwo-4/bmw/assemble/?$ /pages/vwo4-projects/bmw/bmw.html

# cereals.php
RewriteRule ^vwo-4/cereals/?$ /pages/vwo4-projects/cereals.html

# colors.php
RewriteRule ^vwo-4/colors/?$ /pages/vwo4-projects/colors.html

# fingers.php
RewriteRule ^vwo-4/fingers/?$ /pages/vwo4-projects/fingers.php

# higher-lower.php
RewriteRule ^vwo-4/higher-lower/?$ /pages/vwo4-projects/higher-lower.php

# random-numbers.php
RewriteRule ^vwo-4/random-numbers/?$ /pages/vwo4-projects/random-numbers.php

# taxi.php
RewriteRule ^vwo-4/taxi/?$ /pages/vwo4-projects/taxi.php

# factorials.php
RewriteRule ^vwo-6/factorials/?$ /pages/vwo6-projects/factorials.php

# dice.php
RewriteRule ^vwo-6/dice/?$ /pages/vwo6-projects/dice.php

# converter.php
RewriteRule ^vwo-6/converter/?$ /pages/vwo6-projects/converter.php

# board-game.html
RewriteRule ^vwo-6/board-game/setup/?$ /pages/vwo6-projects/board-game/board-game.html

# board-game.php
RewriteRule ^vwo-6/board-game/play/?$ /pages/vwo6-projects/board-game/board-game.php

# learn-dutch.php
RewriteRule ^vwo-6/learn-dutch/?$ /pages/vwo6-projects/learn-dutch.php

# scooters.php
RewriteRule ^vwo-6/scooters/?$ /pages/vwo6-projects/scooters.php

# suitcases.php
RewriteRule ^vwo-6/suitcases/?$ /pages/vwo6-projects/suitcases.php

# animals.php
RewriteRule ^vwo-6/animals/?$ /pages/vwo6-projects/animals.php

# vote.php
RewriteRule ^mysql/vote/?$ /pages/mysql-projects/vote/vote.php

# firstchoice.php
RewriteRule ^mysql/firstchoice/?$ /pages/mysql-projects/firstchoice/firstchoice.php

# tetris.php
RewriteRule ^games/tetris/?$ /pages/games/tetris.php

# checkers.php
RewriteRule ^games/checkers/?$ /pages/games/checkers.php

# 2048.php
RewriteRule ^games/2048/?$ /pages/games/2048.php

# t-rex.php
RewriteRule ^games/t-rex/?$ /pages/games/t-rex.php

# bubble-shooter.php
RewriteRule ^games/bubble-shooter/?$ /pages/games/bubble-shooter.php

# dunk-shot.php
RewriteRule ^games/dunk-shot/?$ /pages/games/dunk-shot.php

# piano-tiles.php
RewriteRule ^games/piano-tiles/?$ /pages/games/piano-tiles.php
